  * {
        margin: 10px;
        padding: 1px;
        box-sizing: border-box;
       
    }
body{
        margin: 10px;
        background-image:url("./Background.jpg");
        background-size: cover; 
        display:flex;
        flex-direction: column;
} 
@media (max-width: 600px) {
        main{
                flex-direction: column;
                flex-wrap:nowrap;
        
        }
        .right, .orcaImages{
                max-width: 100%;
                flex: 1 1 auto;
                margin-left: 0%;
        }
}

/*Buttons Section*/
 .buttons{
        display:flex;
        align-items: center;
        justify-content: space-between;
        gap:10px;
}
.buttons a{
        color: black;
        text-decoration: none;
        display:inline-block;
}
.btn1,.btn2,.btn3{
        padding:10px;
        font-size:large;
        border: 3px double black;
        border-radius: 0.4cm;
}
.btn1,.btn3{
        background-color: antiquewhite;
}
.btn2{
        background-color:rgb(202, 225, 234);
}
.submit{
        color: rgb(166, 6, 241);
        display:inline-block;
        background-color:rgb(202, 225, 234);
}

/*Favorite Orca Section*/
.favoriteOrca{
        display:flex;
        align-items:flex-start;
        gap: 20px;
        margin: 10px;
}
.Phoneix{
        width: 200px;
        height:200px;
        border-radius: 50px;
        object-fit: cover;
        margin-left: auto;
}

/*Header & Main Section*/
header {
        display: flex;
        justify-content: space-between;
        align-items: center;
}
main {
        display: flex;
        gap: 10px;
        flex:1;
        align-items: flex-start;
        flex-wrap: nowrap;
}

/*form section*/
.tili{
        border-radius: 13px;
        background-color: rgba(215, 255, 196, 0.993);
        backdrop-filter: blur;
        border: 3px double #01050b;
        
}

/*Table Section*/
table{
        width: 100%;
        border-collapse: separate;
        margin:20px 0;
}
th,td{
        border:1px dotted black;
        border-radius: 10px;
        padding:5px;
}

/*Text Section*/
h1,h2{
        text-align: center;
        font-family:"Arial Rounded MT Bold", "Trebuchet MS", sans-serif;
        
}
h1{
        color:black;
        font-family:Arial;
         background: linear-gradient(45deg, rgb(193, 140, 140), rgb(35, 35, 73));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

}
section h2{
        background: linear-gradient(135deg, #08dceb, #fce7f3);
        color: #333;
}
aside h2{
        background:linear-gradient(135deg, #0767e4, #fce7f3);
        color:#333;
}
footer p{
        flex-wrap: wrap;
        color:rgb(35, 35, 73);
        justify-content: space-around;
        padding:5px;
}


/*Content Section*/
section {
        background-color: aliceblue;
        background-size:contain;
        flex: 1 1 auto;
        border: 5px dotted lightskyblue;
        border-radius: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
        min-width: 0;
        
}
.orcaFun{
        display:flex;
        gap:10px;
        align-items: flex-start;
        background-color:rgba(250, 235, 215, 0.68);
        border: 5px dotted rgb(61, 154, 211);
        border-radius: 10px;
}

.right{
        flex: 0 0 300px;
        margin-left: 10px;
        background-color:rgba(246, 246, 131, 0.726);
        background-size:contain;
        flex-grow: 1;
        border: 5px dotted rgba(17, 81, 159, 0.614);
        border-radius:10px;
        max-width: 300px;
}
.orcaImages {
    padding: 10px;
    max-width: 250px;
    flex: 0 0 250px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.orcaImages img{
        width:100px;
        height:50px;
        border-radius: 50px;
        object-fit: cover;
}
.ORCA{
        cursor:pointer;
        transition:transform 0.3s ease;
}
.ORCA:hover{
        transform: scale(1.05);
}
.J63inf,.J60inf{
        border: 5px solid rgb(211, 138, 237);
}
.J57inf{
        border: 5px solid rgb(142, 239, 190);
}
.hidden{
        display:none;
}
#J63Inf,#J60Inf{
        background:linear-gradient(135deg, rgb(211, 138, 237), #fce7f3);
        color:#333;
}
#J57Inf{
        background:linear-gradient(135deg, rgb(142, 239, 190), #fce7f3);
        color:#f70707;
}

/*Footer Section*/
footer {
        background:linear-gradient(135deg,rgb(187, 183, 239),#4ff5f5);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
}    